/* Header classes */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 1340px;
  height: 109px;
  margin: 92px auto;
  background-color: aquamarine;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.header__links-list-item {
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link-active {
  text-underline-offset: 4px;
}

.header__logo {
  z-index: 1;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.address {
  width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
}
